<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/me.css">
    <link rel="stylesheet" href="css/comeon.css">
</head>
<body>
    <nav style="background-color: #101010;">
        <div id="menu" class="ui container secondary inverted menu m-padded-tb">
            <img src="img/logo.jpg" style="width: 70px" alt="" class="ui image item">
            <a class="ui item" href="index.html">主页</a>
            <a class="ui item" href="tour.html">游览</a>
            <a class="ui item" style="border-bottom: 3px solid #ffffff">加入</a>
            <a class="ui item"><i class="fa fa-check-square icon"></i>施工中</a>
<!--            <div class="ui item right">-->
<!--                <button class="ui inverted button" style="margin-right: 10px">登陆</button>-->
<!--                <button class="ui inverted button">注册</button>-->
<!--            </div>-->
        </div>
    </nav>





    <div class="ui container comeon-content">
        <div class="ui raised segment div">
            <h2 class="ui horizontal divider header">加入我们</h2>
            <h3 class="m-text">加入须知</h3>
            <p class="m-text">你踏过之处，世界开始苏醒，我看见野花压满枝头沿途狂野生长，白雪滑落树梢寒梅怒放，我看见归鸟蝉鸣，烈日骄阳。我看见白日梦的尽头是你。 从此天光大亮。 你是我全部的渴望与幻想</p>
            <h3 class="m-text">加入要求</h3>
            <ul class="m-text" style="color: #555555">
                <li>人间本不该令我这么欣喜的，但是你来了</li>
                <li>我们不属于任何地方，除了彼此身边</li>
                <li>万物皆甜，而你胜过万物</li>
                <li>你的一切都是星辰</li>
                <li>越过十二万公里，越过昼夜与星辰，只为见你</li>
            </ul>
            <h3 class="m-text">加入方式</h3>
            <div class="ui steps">
                <div class="link step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">运输</div>
                        <div class="description">选择您的运输方式</div>
                    </div>
                </div>
                <div class="link step">
                    <div class="content">
                        <div class="title">账单</div>
                        <div class="description">输入帐单信息</div>
                    </div>
                </div>
            </div>
            <h3 class="m-text">立刻加入</h3>
            <ul class="last">
                <li><i class="ui qq large icon"></i>审核群 : 1070528712</li>
                <li><i class="ui qq large icon"></i>粉丝群 : 761106256</li>
                <li><img src="img/bilibili.png" alt="">B站</li>
            </ul>
        </div>
    </div>







    <footer>
        <div class="ui inverted vertical footer segment">
            <div class="ui container m-padded-tb-massive">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">关于</h4>
                        <div class="ui inverted link list">
                            <a href="homepage.php#" class="item">Sitemap</a>
                            <a href="homepage.php#" class="item">Contact Us</a>
                            <a href="homepage.php#" class="item">Religious Ceremonies</a>
                            <a href="homepage.php#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">服务</h4>
                        <div class="ui inverted link list">
                            <a href="homepage.php#" class="item">Banana Pre-Order</a>
                            <a href="homepage.php#" class="item">DNA FAQ</a>
                            <a href="homepage.php#" class="item">How To Access</a>
                            <a href="homepage.php#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">页脚</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script type="text/javascript">

</script>
</html>