<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/me.css">
</head>

<body>
    <nav style="background-color: #101010;height: 100%">
        <div id="menu" class="ui container secondary inverted menu m-padded-tb">
            <img src="img/logo.jpg" style="width: 70px" alt="" class="ui image item">
            <a class="ui item" style="border-bottom: 3px solid #ffffff">主页</a>
            <a class="ui item" href="tour.html">游览</a>
            <a class="ui item" href="comeon.html">加入</a>
            <a class="ui item">施工中</a>
<!--            <div class="ui item right">-->
<!--                <button class="ui inverted button" style="margin-right: 10px">登陆</button>-->
<!--                <button class="ui inverted button">注册</button>-->
<!--            </div>-->
        </div>

        <div class="ui container second">
            <h1 style="text-align: center;font-size: 70px;">The CaTownCraft</h1>
            <h1 style="text-align: center;font-size: 40px;padding-top: 100px">海内存知己</h1>
        </div>
    </nav>






    <div style="color: black;padding-top: 100px">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header" style="font-size: 30px">We Help Companies and Companions</h3>
                    <p style="font-size: 18px">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                    <h3 class="ui header" style="font-size: 30px">We Make Bananas That Can Dance</h3>
                    <p style="font-size: 18px">Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="img/EmptyImage.png" class="ui large bordered rounded image">
                </div>
            </div>
        </div>

        <div class="ui divider" style="margin-top: 100px"></div>
        <div class="ui vertical stripe quote segment m-margin-top-large">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <h3 style="font-size: 30px">"What a Company"</h3>
                        <p>That is what they all say about us</p>
                    </div>
                    <div class="column">
                        <h3 style="font-size: 30px">"I shouldn't have gone with their competitor."</h3>
                        <p>
                            <img src="img/nan.png" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 80px"></div>



        <div class="ui vertical stripe " style="padding-top: 100px;padding-bottom: 100px">
            <div class="ui text container">
                <h3 class="ui header" style="font-size: 30px">Breaking The Grid, Grabs Your Attention</h3>
                <p style="font-size: 18px">Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
                <a class="ui large button">Read More</a>
                <h4 class="ui horizontal header divider">
                    <a href="homepage.php#">Case Studies</a>
                </h4>
                <h3 class="ui header" style="font-size: 30px">Did We Tell You About Our Bananas?</h3>
                <p style="font-size: 18px">Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
                <a class="ui large button">I'm Still Quite Interested</a>
            </div>
        </div>




        <div class="ui container" style="padding-top: 50px;padding-bottom: 100px;width: 800px">
            <h3 class="ui header" style="font-size: 40px;text-align: center;padding:50px 0 50px 0">属于玩家们的服务器，期待你的到来</h3>
<!--            <video src="mp4/全物品新展示.mp4" controls style="width: 100%"></video>-->
            <iframe src="//player.bilibili.com/player.html?aid=584443628&bvid=BV1mz4y1f7a7&cid=229592138&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" style="width: 800px;height: 450px"> </iframe>
        </div>


    </div>






    <footer>
        <div class="ui inverted vertical footer segment">
            <div class="ui container m-padded-tb-massive">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">关于</h4>
                        <div class="ui inverted link list">
                            <a href="homepage.php#" class="item">Sitemap</a>
                            <a href="homepage.php#" class="item">Contact Us</a>
                            <a href="homepage.php#" class="item">Religious Ceremonies</a>
                            <a href="homepage.php#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">服务</h4>
                        <div class="ui inverted link list">
                            <a href="homepage.php#" class="item">Banana Pre-Order</a>
                            <a href="homepage.php#" class="item">DNA FAQ</a>
                            <a href="homepage.php#" class="item">How To Access</a>
                            <a href="homepage.php#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">页脚</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script type="text/javascript">

</script>
</html>
